# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/2.bases/node_modules
/2.bases/combined.log
*.log
/3.typescript/node_modules
/3.typescript/dist
/3.typescript/coverage
/4.multiplication/node_modules
/4.multiplication/assets
/4.multiplication/dist
/4.multiplication/coverage
/5.noc/node_modules
/5.noc/logs
/5.noc/mongo
/5.noc/dist
/5.noc/postgres
/6.jsonServer/node_modules
/7.noc-bd/node_modules
/7.noc-bd/logs
/7.noc-bd/mongo
/7.noc-bd/dist
/7.noc-bd/postgres
/7.noc-bd
/8.restExpress/node_modules
/8.restExpress/dist
/8.restExpress/postgres
/8.restExpress/mongo
/9.rest_validation/node_modules
/9.rest_validation/mongo

