# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/2.bases/node_modules
/2.bases/combined.log
*.log
/3.typescript/node_modules
/3.typescript/dist
/3.typescript/coverage
/4.multiplication/node_modules
/4.multiplication/assets
/4.multiplication/dist
/4.multiplication/coverage
